node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python model - too large of a file
model.pt

# Firebase config - api keys and sensitive information
/app/auth/firebaseConfig.js

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store
